.container {
    width: 960px;
    margin: 0 auto;
}

.star-sky {
    width: 960px;

    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 0;

    margin-left: -480px;

    .star {
        width: 4px;
        height: 4px;
        position: absolute;
        background: radial-gradient(rgba(255,255,255,1), transparent 2px, transparent 80px);
    }
}

.content-wrapper {
    position: relative;
    z-index: 1;
}

.row {
    width: 100%;
    overflow: hidden;
}