.container {
    width: 650px;
    margin: 0 auto;
}

.star-sky {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: -1;

    overflow: hidden;
    margin-left: -480px;

    .star {
        width: 4px;
        height: 4px;
        position: absolute;
        background: radial-gradient(rgba(255,255,255,1), transparent 2px, transparent 80px);
    }
}

.row {
    width: 100%;
    overflow: hidden;
}

.row--push {
    margin-top: $margin-xl;
}

.push-area.area-intro {
    padding-top: $margin-xl;
}

.push-area.area-contact {
    padding-bottom: $margin-l;
}