h1,h2,h3,h4,h5,h6 {
    font-weight: $heading-weight;
    line-height: $heading-line-height;
    margin-bottom: $margin-m;

    &.title {
        font-family: $heading-alt-family;
        //font-weight: $body-bold-weight;
    }

    &.no-spacing {
        margin-bottom: 0;
    }
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.6em;
}

h3 {
    font-size: 2.2em;
}

h4 {
    font-size: 1.8em;
}

h5, p.intro {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

.title-block {
    margin-bottom: $margin-l;
    overflow: hidden;

    .title-block__sub-title {
        margin-bottom: $margin-s;
    }

    .bullets.bullets--inline {
        margin-top: 0;
    }
}

p {
    margin-bottom: $margin-m;
    line-height: $body-line-height;
}

.text-block {
    max-width: 600px;
    margin: 0 auto;
}

.text-left {
    text-align: left;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

a {
    color: $white;
    text-decoration: none;
}

hr {
    border: none;
    max-width: 40px;
    height: 1px;
    background-color: $gray-light;
    margin: $margin-s auto;
}

ul.bullets {
    margin-top: $margin-m;

    li {
        display: block;

        width: 4px;
        height: 4px;

        background-color: $white;
        border-radius: 100%;

        margin: 0 auto;
        margin-bottom: $margin-m;

        &.m {
            width: 6px;
            height: 6px;
        }
        &.l {
            width: 8px;
            height: 8px;
        }
    }

    &.bullets--inline {
        li {
            width: 6px;
            height: 6px;

            display: inline-block;

            margin-bottom: 0;
            margin-right: $margin-s;

            &.l {
                width: 8px;
                height: 8px;

                position: relative;
                top: 1px;
            }
        }
    }
}

ul.social {
    margin-top: $margin-m;

    a {
        display: inline-block;
        margin-right: $margin-m;
        color: $gray-light;

        &:last-child {
            margin-right: 0;
        }

        &:hover li {
            color: $brand-blue-dark;
            border-color: $brand-blue-dark;
        }
    }

    li {
        width: 40px;
        height: 40px;
        display: block;

        @include border($color: $gray-light);
        border-radius: 100%;

        text-align: center;
        line-height: 40px;

        font-size: 1.1em;
    }
}