.area-about {
    padding-top: 100px;
    //padding-bottom: 0;

    .container {
        position: relative;
        z-index: 2;
    }
}

.area-contact-bg {
    width: 1800px;
    height: 880px;

    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -900px;

    background-image: url('/img/duxilio-moon.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-color: $bg-color;

    z-index: -1;
}

.area-contact {
    min-height: 877px;
    padding: 0;

    color: $base-color;
    a {
        color: $base-color;
    }

    .container {
        position: relative;
        top: 300px;
        z-index: 2;
    }

    ul.bullets li {
        background-color: $gray-light;
    }
}