//Typography
$body-family: 'Open Sans', Helvetica, Arial, sans-serif;
$body-weight: 300;
$body-line-height: 1.5em;
$body-bold-weight: 400;

$heading-alt-family: 'Museo-100', 'Open Sans', Helvetica, Arial, sans-serif;;
$heading-weight: 300;
$heading-line-height: 1.2em;

$size-s: .9em;
$size-m: 16px;


//Colors
$base-color: #585858;
$bg-color: #0f445c;

$white: #fff;
$gray: #fcfcfc;
$gray-light: #a9a9a9;

$brand-blue: #2eb2c4;
$brand-blue-dark: #2f9dc3;
$brand-deep-blue: #37509e;
$brand-deep-blue-dark: #434394;


//Spacings
$margin-s: 10px;
$margin-m: 20px;
$margin-l: 40px;
$margin-xl: 60px;


//Borders
$border-style: solid;
$border-width: 2px;
$border-radius: 5px;


//Animation
$transition-duration: 1s;
$transition-duration-alt: .3s;
$transition-timing: ease;