include inc/_mixins

doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="initial-scale=1, user-scalable=no")

        title Duxilio - Service Agreement
        meta(name="description" content="Duxilio Service Agreement")

        meta(name="author" content="Duxilio")
        meta(name="follow" content="index, follow")

        meta(property="og:site_name", content="Duxilio")
        meta(property="og:locale", content="com_COM")
        meta(property="og:type", content="website")
        meta(property="og:description", content="Duxilio Service Agreement")
        meta(property="og:url", content="https://www.duxilio.com")
        meta(property="og:title", content="Duxilio Service Agreement")
        meta(property="og:image", content="https://duxilio.nl/img/duxilio-og.png")

        meta(property="fb:app_id" content="1558942351039907")

        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content="@duxil_io")
        meta(name="twitter:url" content="https://www.duxilio.nl")
        meta(name="twitter:title" content="Duxilio - Software that makes life less complicated")
        meta(name="twitter:description" content="Service Agreement")
        meta(name="twitter:image" content="https://duxilio.nl/img/duxilio-og.png")

        link(rel="apple-touch-icon" sizes="57x57" href="www/img/favicons/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="www/img/favicons/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="www/img/favicons/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="www/img/favicons/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="www/img/favicons/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="www/img/favicons/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="www/img/favicons/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="www/img/favicons/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="www/img/favicons/apple-touch-icon-180x180.png")
        link(rel="icon" type="image/png" href="www/img/favicons/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="www/img/favicons/favicon-194x194.png" sizes="194x194")
        link(rel="icon" type="image/png" href="www/img/favicons/favicon-96x96.png" sizes="96x96")
        link(rel="icon" type="image/png" href="www/img/favicons/android-chrome-192x192.png" sizes="192x192")
        link(rel="icon" type="image/png" href="www/img/favicons/favicon-16x16.png" sizes="16x16")
        link(rel="manifest" href="www/img/favicons/manifest.json")
        link(rel="shortcut icon" href="www/img/favicons/favicon.ico")
        meta(name="msapplication-TileColor" content="#2f9dc4")
        meta(name="msapplication-TileImage" content="www/img/favicons/mstile-144x144.png")
        meta(name="msapplication-config" content="www/img/favicons/browserconfig.xml")
        meta(name="theme-color" content="#ffffff")

        link(rel="stylesheet" href="www/css/main.css")
        //-link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300' rel='stylesheet' type='text/css')

        <!--[if IE 8]>
        script(src='www/js/html5shiv-3.7.3.min.js')
        <![endif]-->

    body
        .push-area.area-intro.bg-ani
            +star-sky(true)
            .container
                .logo
                    img(src="www/img/duxilio-logo-hexagon.svg")
                h1.h3.title Service Agreement - Algemene leverings- en betalingsvoorwaarden van Duxilio.
                h2.h6 1. Geldigheid van deze voorwaarden.
                h2.h6 De hierna volgende voorwaarden zijn van toepassing op alle aanbiedingen, leveringen en diensten door Duxilio aan derden gedaan en op alle overeenkomsten door Duxilio met derden aangegaan. Tegenover deze voorwaarden zijn voorwaarden door opdrachtgevers op hun briefpapier, bestellings- en leveringsformulieren, nota's etc. gesteld en/of ergens gedeponeerd niet bindend.
                h2.h6 .
                h2.h6 2. Aanbiedingen.
                h2.h6 Alle aanbiedingen zijn vrijblijvend, tenzij het tegendeel uitdrukkelijk en schriftelijk is vermeld. Orders binden Duxilio eerst door en na zijn schriftelijke aanvaarding.
                h2.h6 .
                h2.h6 3. Wijzigingen in de opdracht.
                h2.h6 3.1. Wijzigingen, van welke aard ook, door of namens de opdrachtgever in de oorspronkelijke opdracht aangebracht die hogere kosten veroorzaken dan waarop bij de prijsopgave kon werden gerekend, worden de opdrachtgever extra in rekening gebracht. Veranderingen welke daarentegen vermindering van kosten ten gevolge hebben, zullen aanleiding geven tot betaling van een lager bedrag dan is overeengekomen.
                h2.h6 3.2. Door de opdrachtgever na het verstrekken van de opdracht alsnog verlangde wijzigingen in de uitvoering daarvan, moeten door de opdrachtgever tijdig en schriftelijk aan Duxilio ter kennis worden gebracht.
                h2.h6 3.3. Veranderingen in een reeds verstrekte opdracht aangebracht kunnen tot gevolg hebben dat de voor veranderingen overeengekomen levertijd door Duxilio wordt overschreden. De opdrachtgever wordt geacht met die overschrijding van de levertijd akkoord te gaan. 
                h2.h6 .
                h2.h6 4. Levertijd.
                h2.h6 4.1. Onder levertijd wordt verstaan de met de opdrachtgever overeengekomen termijn waarbinnen de prestatie moet zijn verricht. Deze geldt steeds als approximatief en nimmer als fatale termijn, tenzij het tegendeel uitdrukkelijk schriftelijk is overeengekomen. Een eventuele fatale termijn is uitsluitend geldig als alle voor de uitvoering van de verrichting benodigde gegevens tijdig door Duxilio ontvangen zijn. De levertijd gaat in op het moment dat alle voor de uitvoering van de verrichting benodigde gegevens ontvangen zijn door Duxilio.
                h2.h6 4.2. Overschrijding van een overeengekomen levertijd levert geen wanprestatie op, tenzij er sprake is van bewezen grove onachtzaamheid en/of grove nalatigheid door Duxilio. 
                h2.h6 .
                h2.h6 5. Betalingen.
                h2.h6 5.1. Betaling dient te geschieden binnen 14 dagen na factuurdatum. Alle betalingen dienen zonder enige aftrek of schuldvergelijking te geschieden. De opdrachtgever is niet gerechtigd om op grond van beweerdelijk door Duxilio gepleegde wanprestatie of op grond van welke andere reden dan ook de nakoming van zijn betalingsverplichtingen te weigeren of op te schorten.
                h2.h6 5.2. Duxilio is steeds gerechtigd om, alvorens te leveren en/of diensten te verrichten of hiermee voort te geen, naar zijn oordeel voldoende zekerheid voor het nakomen van de betalingsverplichtingen van de opdrachtgever te vorderen. Weigering van de opdrachtgever om de verlangde zekerheid te stellen geeft Duxilio het recht om de overeenkomst als ontbonden te beschouwen, onverminderd zijn recht op vergoeding van onkosten en winstderving.
                h2.h6 5.3. Indien de opdrachtgever niet binnen de overeengekomen termijn betaalt, is hij in gebreke door het enkel verloop van die termijn en daardoor een rente verschuldigd van 1% per maand vanaf het ogenblik dat hij in gebreke is, waarbij een gedeelte van een maand voor een hele maand telt.
                h2.h6 5.4. Alle kosten, zowel de gerechtelijke als de buitengerechtelijke, met betrekking tot de invordering van het door de opdrachtgever verschuldigde en niet tijdig betaalde gemaakt, zijn voor rekening van de opdrachtgever. De buitengerechtelijke kosten worden berekend overeenkomstig het incassotarief van de Nederlandse Orde van Advocaten.
                h2.h6 .
                h2.h6 6. Reclame.
                h2.h6 6.1. Indien binnen 5 dagen na ontvangst der goederen of verrichting der diensten door Duxilio daarover geen schriftelijke klachten zijn ontvangen, worden de goederen, respectievelijk de diensten, geacht te zijn goedgekeurd en geaccepteerd door de opdrachtgever.
                h2.h6 6.2. De aansprakelijkheid van Duxilio uit hoofde van enige overeenkomst is beperkt tot maximaal de contractprijs.
                h2.h6 6.3. Indien niet anders schriftelijk is overeengekomen mag Duxilio voor het ondeugdelijk geleverde of de ondeugdelijk verrichte dienst goed werk of een goede dienst leveren of verrichten, waarvoor hem de nodige tijd moet worden gegeven.
                h2.h6 6.4. Gebreken in een deel van het geleverde en/of verrichte geven niet het recht tot afkeuring van de gehele levering en/of verrichte diensten.
                h2.h6 6.5. Duxilio aanvaardt geen enkele aansprakelijkheid voor de ondeugdelijkheid van door derden of opdrachtgever geleverd materiaal en van door derden, waaronder niet begrepen personeel van Duxilio, of opdrachtgever geleverd aandeel in het werk.  
                h2.h6 .
                h2.h6 7. Annuleringen.
                h2.h6 Indien de opdrachtgever de gegeven order geheel of gedeeltelijk annuleert is hij gehouden aan Duxilio alle met het oog op de uitvoering van deze order redelijkerwijs gemaakte kosten te vergoeden, onverminderd het recht van Duxilio op vergoeding wegens winstderving, zomede van de overige uit de bewuste annulering voortvloeiende schaden.
                h2.h6 .
                h2.h6 8. Overmacht.
                h2.h6 8.1. Ingeval Duxilio door overmacht wordt verhinderd de overeenkomst uit te voeren, dan wel deze daardoor kostbaarder of bezwaarlijker wordt gemaakt, heeft hij het recht om zonder rechtelijke tussenkomst de uitvoering van de overeenkomst op te schorten of de overeenkomst geheel of gedeeltelijk te ontbinden ter zijner keuze, zonder dat hij tot enige schadevergoeding is gehouden. Onder overmacht wordt onder andere begrepen staking en uitsluiting van eigen personeel, bedrijfsstoring, bedrijfsbezetting, overmacht van toeleveranciers en andere buiten controle van Duxilio liggende gebeurtenissen.
                h2.h6 8.2. Ingeval van overmacht zal Duxilio daarvan onverwijld mededeling doen aan de opdrachtgever. De opdrachtgever zal het recht hebben de order binnen 8 dagen na ontvangst der mededeling schriftelijk te annuleren, echter onder de verplichting om aan Duxilio te vergoeden het uitgevoerde gedeelte van de order.
                h2.h6 .
                h2.h6 9. Auteursrecht, industrieel eigendomsrecht en reproductierecht.
                h2.h6 9.1. Door het geven van een opdracht tot verveelvoudiging of reproductie van door de Auteurswet of enig industrieel eigendomsrecht beschermde objecten verklaart de opdrachtgever, dat geen inbreuk op het auteursrecht of industrieel eigendomsrecht van derden wordt gemaakt en vrijwaart hij Duxilio in en buiten rechte voor alle gevolgen, zowel financiële als andere, uit de verveelvoudiging op reproductie voortvloeiende.
                h2.h6 9.2. Het auteursrecht van door Duxilio ontworpen, c.q. tot stand gebrachte schetsen, tekeningen, designs, applicaties, software ontwikkeling e.d. blijft bij hem berusten, ook wanneer de opdrachtgever er een order op heeft geplaatst.
                h2.h6 9.3. Volgt een order op een besteld ontwerp als onder 2 bedoeld, dan wordt dit na een maand op rekening gesteld, terwijl het verveelvoudigings- en reproductierecht bij Duxilio blijft. Auteursrechten zijn in de kosten der ontwerpen niet begrepen.
                h2.h6 .
                h2.h6 10. Eigendomsvoorbehoud.
                h2.h6 10.1. De geleverde goederen blijven eigendom van Duxilio totdat de opdrachtgever al hetgeen hij uit welke hoofde dan ook aan hem verschuldigd is volledig heeft betaald.
                h2.h6 10.2. Indien de opdrachtgever enige verplichting uit de gesloten overeenkomst niet nakomt is Duxilio gerechtigd zonder enige in gebrekestelling de goederen terug te nemen, in welk geval Duxilio gerechtigd zal zijn de overeenkomst ook zonder rechterlijke tussenkomst als ontbonden te beschouwen, onverminderd zijn recht tot het vorderen van vergoeding van schade, gederfde winst en interest.
                h2.h6 .
                h2.h6 11. Toepasselijk recht en bevoegdheid.
                h2.h6 11.1. Op overeenkomsten, waarop deze voorwaarden geheel of ten dele van toepassing zijn, is steeds Nederlands recht van toepassing.
                h2.h6 11.2. Voor alle geschillen die mochten ontstaan naar aanleiding van een overeenkomst waarop deze voorwaarden geheel of ten dele van toepassing zijn, zal, voor zover de berechting daarvan behoort tot de competentie van de arrondissementsrechtbank, uitsluitend de arrondissementsrechtbank te Arnhem bevoegd zijn.