a.btn {
	font-size: $size-s;
    padding: $margin-s $margin-m;

    color: $white;
    background-color: $brand-blue-dark;

    border-radius: $border-radius;
    display: inline-block;

    @include transition(background-color);

    &:hover {
    	background-color: darken($brand-blue-dark, 2%);
    }
}

a.btnspaceleft {
    margin-right: 10px;
}