.push-area {
    padding: $margin-xl 0;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.push-area--alt {
    color: $brand-blue-dark;
    background-color: $white;

    .bullets li {
        background-color: $brand-blue-dark;
    }

    a {
        color: $brand-blue-dark;
    }
}