//mobile
@include media($max-width: 767px){
    .container {
        width: 90%;
    }

    .col.col--one-third, .col.col--two-third {
        @include column(12);
    }

    .area-about {
        padding: 0;
        padding-top: $margin-xl;
    }

    .iphone {
        max-width: 250px;
        margin: $margin-m auto -100px auto;

        &:before {
            height: 150px;
            bottom: 40px;
        }
    }

    .profile-item {
        width: 100%;
        max-width: 277px;

        margin: 0 auto;
        margin-bottom: $margin-m;

        text-align: left;

        hr {
            margin-left: 0;
            margin-right: 0;
        }

        .avatar {
            width: 80px;
            height: 80px;
            border-width: 5px;
            float: left;
            margin-right: $margin-m;
        }
    }

    .row--push {
        margin-top: $margin-m;
    }

    .star-sky {
        left: 0;
        margin-left: 0;
    }

    .clouds {
        //quickfix
        min-width: 0;
        &.clouds--top {
            background-position: -40px 0;
        }
        &.clouds--top, &.clouds--top:before, &.clouds--bottom, &.clouds--bottom:before {
            background-size: cover !important;
        }
    }

    .area-contact {
        min-height: 947px;
    }

    .area-contact-bg {
        width: 1900px;
        height: 930px;
        margin-left: -950px;
    }

    .slider {
        height: 760px;

        .slider__nav {
            position: absolute;
            top: 50px;
            right: 80px;
        }

        .slider__nav__item {
            left: 0;

            &.slider__nav__item--right {
                right: 0;
                left: 40px;
            }
        }
    }

}

//tablet
@include media(767px, 960px){
    .container {
        width: 750px;
    }

    .area-about {
        padding: 0;
        padding-top: $margin-xl;
    }

    .slider {
        height: 420px;

        .slider__slide {
            right: 30px;
            left: 30px;
        }

        .container {
            width: 700px;
        }

        .slider__nav__item {
            left: 0;

            &.slider__nav__item--right {
                right: 0;
                left: auto;
            }
        }

        .iphone {
            &:before {
                bottom: -16px;
            }
        }
    }

}