.push-area.area-intro.bg-ani
    +star-sky(true)
    .container
        .logo
            img(src="www/img/duxilio-logo-hexagon.svg")
            h2.h5.title.no-spacing Duxilio
        h1.h3.title Software that makes life less complicated
        h2.h6 We build, grow and invest in innovative tech products

