.bg-ani
    .container
        //-+star-sky
        .rocket-wrapper
            .rocket
                img(src="/img/rocket.svg")
            //- .rocket-wrapper__smoke-left
            //-     - for(var i = 0; i < 8; i++)
            //-         .rocket-wrapper__smoke-left__part
            .rocket-wrapper__smoke-right
                - for(var i = 0; i < 4; i++)
                    .rocket-wrapper__smoke-right__part

.clouds.clouds--top
.push-area.push-area--alt
    .title-block
        h3 Our Products
    .container.text-left
        include slider

.clouds.clouds--bottom