.push-area.area-intro
    +star-sky
    .container
        .logo
            img(src="/img/duxilio-logo-circle-white.svg")
        +bullets-v
        h4.title Software that makes life less complicated
        p Everyone has their daily rituals, what if you could automate them?

