.push-area.area-contact
    +star-sky
    .container

        .title-block
            h3 Get in touch
            h6.title-block__sub-title We love meeting new people
            +bullets-x

        .row
            +profile-item('robertvanhaaren', 'Robert van Haaren', 'Creative Director', 'robert@duxilio.com')
            +profile-item('koenvendrik', 'Koen Vendrik', 'Lead Front-end', 'koen@duxilio.com')
            +profile-item('mattivandeweem', 'Matti van de Weem', 'Lead Back-end', 'matti@duxilio.com')

        .row.row--push
            a(href="mailto:hello@duxilio.com") hello@duxilio.com
            |  | 
            a(href="tel:+31 6 57 35 72 46") +31 6 57 35 72 46
            ul.social
                a(href="http://twitter.com/duxil_io" target="_blank")
                    li.ss-icon.ss-social-regular twitter
                a(href="http://facebook.com/duxilio" target="_blank")
                    li.ss-icon.ss-social-regular facebook
                a(href="http://www.linkedin.com/company/duxilio" target="_blank")
                    li.ss-icon.ss-social-regular linkedin