.push-area(style="padding-top: 60px;")
    .container
        .logo
            img(src="/img/duxilio-logo-circle-white.svg")
        ul.bullets
            li
            li.m
            li.l
        h4.bold Software that makes life less complicated
        p Everyone has their daily rituals, what if you could automate them?

