.push-area.area-intro
    +star-sky
    .container
        .logo
            img(src="/img/duxilio-logo-hexagon.svg")
            h2.h5.title.no-spacing Duxilio
        h1.h3.title Software that makes life less complicated
        h2.h6 Everyone has their daily rituals, what if you could automate them?

