.push-area.area-contact
    .area-contact-bg
    +star-sky
    .container

        .title-block
            h3 Get in touch
            h6.title-block__sub-title We love meeting new people
            +bullets-x

        .row
            +profile-item('robertvanhaaren', 'Robert van Haaren', 'Creative Director', 'robert@duxilio.com', 'robertvanhaaren')
            +profile-item('koenvendrik', 'Koen Vendrik', 'Lead Front-end', 'koen@duxilio.com', 'kvendrik')
            +profile-item('mattivandeweem', 'Matti van de Weem', 'Lead Back-end', 'matti@duxilio.com', 'mvdweem')

        .row.row--push
            a(href="mailto:hello@duxilio.com" onclick="ga('send', 'event', 'Contact', 'click', 'email_hello');") hello@duxilio.com
            |  | 
            a(href="tel:+31624877533" onclick="ga('send', 'event', 'Contact', 'click', 'call_general');") +31 6 24 87 75 33
            ul.social
                a(href="https://twitter.com/duxil_io" title="Duxilio Twitter" target="_blank" onclick="ga('send', 'event', 'Contact', 'click', 'social_twitter');")
                    li.ss-icon.ss-social-regular twitter
                a(href="https://facebook.com/duxilio" title="Duxilio Facebook" target="_blank" onclick="ga('send', 'event', 'Contact', 'click', 'social_facebook');")
                    li.ss-icon.ss-social-regular facebook
                a(href="https://www.linkedin.com/company/duxilio" title="Duxilio Linkedin" target="_blank" onclick="ga('send', 'event', 'Contact', 'click', 'social_linkedin');")
                    li.ss-icon.ss-social-regular linkedin