.push-area
    .container

        .row
            .profile-item
                .avatar
                    img(src="/img/team/robertvanhaaren.jpeg")
                h6.profile-item__title Robert van Haaren
                small Creative Director
                hr
                a(href="mailto:robert@duxilio.nl")
                    small robert@duxilio.com

            .profile-item
                .avatar
                    img(src="/img/team/koenvendrik.jpeg")
                h6.profile-item__title Koen Vendrik
                small Lead Front-end
                hr
                a(href="mailto:koen@duxilio.nl")
                    small koen@duxilio.com

            .profile-item
                .avatar
                    img(src="/img/team/mattivandeweem.jpeg")
                h6.profile-item__title Matti van de Weem
                small Lead Back-end
                hr
                a(href="mailto:matti@duxilio.nl")
                    small matti@duxilio.com

        .row(style="margin-top: 80px;")
            ul.social
                a(href="http://twitter.com")
                    li.ss-icon.ss-social-regular twitter
                a(href="http://facebook.com")
                    li.ss-icon.ss-social-regular facebook
                a(href="http://linkedin.com")
                    li.ss-icon.ss-social-regular linkedin