.push-area.area-about
    .container

        .text-block.text-left.center
            .title-block
                h3.title About us
                p.intro.
                    A young and dynamic Amsterdam based tech startup that
                    creates and invests in innovative tech products.
                p.
                    We create by using the newest and most innovative
                    technologies and deeply researching our target groups.
                p.
                    These target groups are people who's interest match our own.
                    This because we want to be able to understand our users in the best way possible.

