.container
    +star-sky
    .rocket
        img(src="/img/rocket.svg")
.clouds.clouds--top
.push-area.push-area--alt
    .container
        h3 SocialHack
        +bullets-v
        h6 Are you ready to get social?
        p.text-block.
            SocialHack lets you connect with other developers near you.
            Find out what you have in common and go over to have a chat.
        a(href="http://socialhack.io").btn Find out more
.clouds.clouds--bottom