section.slider
    nav.slider__nav
        a(href="#").ss-icon.ss-pika.slider__nav__item directleft
        a(href="#").ss-icon.ss-pika.slider__nav__item.slider__nav__item--right directright

    .slider__slide.slider__slide--visible.slider__slide--block
        .col.col--two-third
            .brand-logo
                img(src="www/img/slides/sock-logo.svg", alt="Sock Logo")
            p
                b Lock, Manage, Store and Create albums for your private images.
            p.
                Select photos from your gallery and store them within sock. Your images will be securly locked by a 5 digit passcode, vingerprint and/or face-ID. Albums can be created, edited and deleted where you will be able to store your image collections.
            a.btn(href="https://google.com", title="Sock AppStore") Coming soon

        .col.col--one-third
            .iphone
                img(src="www/img/slides/sock-gif.gif", alt="Sock Homepage")

    .slider__slide
        .col.col--two-third
            .brand-logo(style="max-width: 240px;")
                img(src="www/img/slides/duxelo-logo.svg", alt="Duxelo Logo")
            p
                b Makes managing your education a breeze
            p.
                Duxelo merges systems that are already used by your school,
                new functionalities from our assortment and custom made features into
                one mobile application.
            a.btn(href="http://duxelo.com", title="Duxelo Website") Check out Duxelo

        .col.col--one-third
            .iphone
                img(src="www/img/slides/duxelo-chat-iphone.png", alt="Duxelo Chat")

    .slider__slide
        .col.col--two-third
            .brand-logo
                img(src="www/img/slides/taplicious-logo.png", alt="Taplicious Logo")
            p
                b Revolutionizes the way you experience restaurants
            p.
                Imagine sitting in a restaurant and not having to wait to order. And when you want to leave
                you can just leave, without having to wait for the receipt.
            p.
                With Taplicious this becomes reality. In restaurants that support it you can place orders and
                pay through the app (even after you've left). This may seem small but next to improving the customer's
                experience it opens up a whole new world of data collection possibilities to restaurants.
            a.btn(href="http://taplicious.com", title="Taplicious Website") Check out Taplicious

        .col.col--one-third
            .iphone
                img(src="www/img/slides/taplicious-login-iphone.png")

    .slider__slide
        .col.col--two-third
            .brand-logo
                img(src="/img/slides/myndoo-logo.svg", alt="Myndoo Logo")
            p
                b Promote your school online. A free website for your courses and lessons made within 5 minutes.
            p.
                Myndoo helps people who teach all kind of courses by giving them a platform on which
                they can promote their school, have their students book lessons, buy subscriptions and more.
            a.btn(href="http://myndoo.com", title="Myndoo Website") Check out Myndoo

        .col.col--one-third
            .iphone
                img(src="www/img/slides/myndoo-home-iphone.png", alt="Myndoo Homepage")